<li>
    <i class="fas fa-map-marker-alt" aria-hidden="true"></i> Tokyo / Okinawa
  </a>
</li>
<li>
  <a href="mailto:ishigaki0515naoki@gmail.com">
    <meta itemprop="email" content="{{ author.email }}" />
    <i class="far fa-envelope" aria-hidden="true"></i> Email
  </a>
</li>
<li>
  <a href="https://twitter.com/naoki_ishigaki">
    <i class="fab fa-twitter-square" aria-hidden="true"></i> Twitter
  </a>
</li>
<li>
  <a href="https://www.facebook.com/naoki0515ishigaki">
    <i class="fab fa-facebook-square" aria-hidden="true"></i>Facebook
  </a>
</li>
<li>
  <a href="https://www.linkedin.com/in/nao0515ki/">
    <i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn
  </a>
</li>
<li>
  <a href="https://github.com/nao0515ki">
    <i class="fab fa-github-square" aria-hidden="true"></i> GitHub
  </a>
</li>
<li>
  <a href="https://www.couchsurfing.com/people/naoki_ishigaki">
    <i class="fas fa-link" aria-hidden="true"></i> CouchSurfing
  </a>
</li>
<li>
  <p>５月頃より仕事探しを開始します。</p>
  <p>フリーランス / 正社員</p>
  <p>お気軽にご連絡くださいm(_ _)m</p>
</li>

<!--
https://fontawesome.com/icons?d=gallery
 -->
